.signup{
    
    padding : 4rem;
    
}
.signup-form{
    width : 100%;
}
.signup-left{
    height:700px;
    border: 2px solid #e2e2e5;
    width: 500px;
    min-width: 400px;
    padding: 4rem  2rem ;
    flex-direction: column;
   
}
.signup-left>p{
font-weight: 500;
font-size: 1rem;
   
}
.signup-left>div{
  margin: 2rem 0 1rem 0 ;
   
}
.signup-icon{
    margin : 0 0.5rem ; 
    font-size: 2rem;
  
   
}


.signup-right{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    background-color: #474a59;
    width: 500px;
    min-width: 400px;
    padding: 3rem ;
}
.signup-label{
    color:white !important;
}


@media screen and (max-width:1200px) {
    .signup{
    
        padding : 0rem;
        margin :2rem 0 
        
    }
    .signup-right{
        width: 100%
        }
    .signup-left{
        width: 100%
            }
}
@media screen and (max-width:800px) {
    .signup{
    
        padding :  2rem 0rem;
        flex-direction: column;
    }
    .signup-left{
    height:auto;
    width:80%
    }
    .signup-right{
    height:auto;
    width:80%
    }
}