* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}
#root{
margin: 0;
padding: 0;
width: 100%;
}
body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  font-family: var(--font-family);
}

.link-a{
  all:unset
}
a:hover{
  cursor: pointer;
}
 
.section-margin{
  margin: 4rem 2rem ;
}
.btn-design{
  padding: 0.6rem 1rem ;
  border: none !important;
  color:white;
    font-size: 1.25rem;
    border-radius: 10px;
    background: #894dd4;
}

.center-div{
  display: flex;
  align-items: center;
  justify-content:center;
}
.form-input{
  font-size: .875rem; 
 line-height: 1.25rem;
 font-weight: 600;
 padding-left: 0.75rem;
 padding-right: 0.75rem;
 border-radius: 0.5rem;
 border: 1px solid  #e5e7eb; 
  
 height: 2.5rem;
 width:100%;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }

.form-input:focus {
  outline: none;
  border:none;
  border-radius: 0 !important;
  border-bottom: 1px solid black; 
}
.text-area{
  font-size: .875rem; 
  line-height: 1.25rem;
  font-weight: 600;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid  #e5e7eb; 
   
  height: 10rem;
  width:100%;

}
.form-btn{
  width: 100%;
  padding: 0.6rem 1rem ;
  border: none !important;
  color:white;
  font-size: 1.25rem;
  border-radius: 10px;
  background: #894dd4;

}