.forget{
    
    padding : 4rem;
    
}
.sign-form{
    width : 100%;
}
.forget-left{
    
    border: 2px solid #e2e2e5;
    min-width: 300px;
    max-width: 400px;
    padding: 4rem  2rem ;
    flex-direction: column;
   
}
.forget-left>p{
    font-weight: 400;
    font-size: 1rem;
    color: #8b8b8bfa;
    margin: 1rem 0;
   
}
.forget-left>div{
  margin: 2rem 0 1rem 0 ;
   
}
.forget-icon{
    margin : 0 0.5rem ; 
    font-size: 2rem;
  
   
}


.forget-right{
   
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #474a59;
    min-width: 300px;
    padding: 3rem ;
}
.forget-label{
    color:white !important;
}

@media screen and (max-width:800px) {
    .forget{
    
        padding: 2rem;
        margin: 2rem;
        flex-direction: column;
    }
}

@media screen and (max-width:600px) {
    .forget{
    
        padding: 2rem 0;
        margin: 2rem 0
        
    }
    .forget-left,.forget-right{
    padding: 1rem;
    }
    .forget-left>p{
        font-weight: 400;
        font-size: 0.8rem;
        max-width: 300px;
       
    }
}